NEXT_PUBLIC_CONVEX_URL=
CONVEX_DEPLOYMENT=
CONVEX_SITE_URL=

RESEND_API_KEY=
AUTH_RESEND_KEY=
AUTH_RESEND_FROM=
AUTH_SECRET=
STUDIO_SUPER_ADMIN_EMAIL=

BYTEPLUS_ARK_API_KEY=
BYTEPLUS_ARK_BASE_URL=https://ark.ap-southeast.bytepluses.com
BYTEPLUS_ENHANCEMENT_MODEL_ID=
BYTEPLUS_IMAGE_LOW_MODEL_ID=
BYTEPLUS_IMAGE_MEDIUM_MODEL_ID=
BYTEPLUS_IMAGE_HIGH_MODEL_ID=
BYTEPLUS_VIDEO_MODEL_ID=

BUNNY_STORAGE_ZONE=studio-assets
BUNNY_STORAGE_REGION=
BUNNY_STORAGE_ACCESS_KEY=
BUNNY_PULL_ZONE_HOSTNAME=
BUNNY_CDN_SIGNING_KEY=
BUNNY_STREAM_LIBRARY_ID=
BUNNY_STREAM_ACCESS_KEY=

WEB_PUSH_VAPID_PUBLIC_KEY=
WEB_PUSH_VAPID_PRIVATE_KEY=
NEXT_PUBLIC_WEB_PUSH_VAPID_PUBLIC_KEY=
WEB_PUSH_SUBJECT=mailto:admin@yatishara.com

STUDIO_BANK_NAME=
STUDIO_BANK_ACCOUNT_NAME=
STUDIO_BANK_ACCOUNT_NUMBER=
STUDIO_BANK_ACCOUNT_TYPE=
